@page "/querybooks"
@using LibraryAdminApp.Services
@using LibraryAdminApp.Model

@code
{ 
    Books books = new Books(new HttpClient(), "localhost");
}

<h1>Query books</h1>

<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Publish date</th>
    </tr>
    </thead>
    <tbody>
    @foreach (BookModel book in books.GetBooksAsync().Result)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Publisher</td>
            <td>@book.PublishDate</td>
        </tr>
    }
    </tbody>
</table>

