@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button href="https://github.com/Bence7/library_register" target="_blank" class="btn btn-dark">GIT REPO</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
