@page "/user"
@using ClassLibrary.Models;
@using LibraryClientApp.Service

@inject IMemberService MemberService
@inject NavigationManager NavManager

<h3>Add meg a felhasználó neved!</h3>
<input type="text" @bind="UserName" />
<button @onclick="CheckUsername">Submit</button>
@if (UserNotFound)
{
    <p>Nem található ilyen nevű felhasználó!</p>
}

@code {
    string UserName { get; set; } = "";
    bool UserNotFound { get; set; } = false;

    private async Task CheckUsername()
    {
        if (!string.IsNullOrWhiteSpace(UserName))
        {
            var user = await MemberService.GetUserByUsernameAsync(UserName);
            if (user == null)
            {
                UserNotFound = true;
            }
            else
            {
                UserNotFound = false;
                NavManager.NavigateTo($"/userinfo/{user.Id}");
            }
        }
    }
}